# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3
*.log
media/
staticfiles/

# macOS
.DS_Store

# VS Code
.vscode/

# Environment variables
.env
.env.*
